<header>
	<nav id="mainNav">
		<div class="logo">
			<h1><a href="/home">Logbook</a></h1>
		</div>
		<div class="nav-links">
			<div class="links">
				<a href="/home" class="link-selected">Home</a>
				<a href="#">Incoming</a>
				<a href="#">Approved</a>
			</div>
			<div class="profile-buttons">
				<i class="fas fa-bell notification-icon"></i>
				<a href="#">Profile</a>
			</div>
		</div>
		<div class="hamburger-icon">
			<i class="fas fa-bars"></i>
		</div>
	</nav>
</header>
<div class="hamburger-menu">
	<div class="menu-header">
		<div class="menu-icon">
			<i class="fas fa-bars"></i>
		</div>
		<div class="menu-profile">
			<i class="fas fa-bell notification-icon"></i>
			<a href="#">Profile</a>
		</div>
	</div>
	<div class="menu-links">
		<a href="/home" class="link-selected">Home</a>
		<a href="#">Incoming</a>
		<a href="#">Approved</a>
	</div>
</div>

<div class="backdrop"></div>
