<%- include ../partials/header %>
<%- include ../partials/navbar %>
<div class="logbook-container">
	<div class="table-title">
		<h1 class="office-title">CMBA</h1>
		<div class="table-buttons">
			<button href="/home">Add</button>
		</div>
	</div>

	<div class="table-container">
		<div class="table">
			<div class="row table-header">
				<div class="column">DOC ID</div>
				<div class="column">RE:</div>
				<div class="column">DOC TYPE</div>
				<div class="column">DUE DATE</div>
				<div class="column">DESTINATION</div>
				<div class="column">STATUS</div>
				<div class="column">ACTION</div>
			</div>
			<div class="row">
				<div class="column doc-id">06032020-1</div>
				<div class="column re">
					Letter of Dr...Permission to hold a seminar on July 4,
					2020...To borrow sound system
				</div>
				<div class="column doc-type">-</div>
				<div class="column due-date">June 24, 2020</div>
				<div class="column destination">
					<div class="destinations">
						<p>SSD</p>
						<p>PE DEPT</p>
						<p>MSDO</p>
						<p>PCO</p>
					</div>
				</div>
				<div class="column status">
					<div class="statuses">
						<p>FROZEN</p>
						<p>FROZEN</p>
						<p>FROZEN</p>
						<p>FROZEN</p>
					</div>
				</div>
				<div class="column action">
					<div class="actions">
						<button>Approve</button>
						<button>Delete</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include ../partials/footer %>