<%- include ../partials/header %>
<header>
    <nav id="mainNav">
        <div class="logo">
            <h1><a href="/logbook">Logbook</a></h1>
        </div>
        <div class="nav-links">
            <div class="links">
                <a href="/logbook" class="">Home</a>
                <a href="/logbook/incoming">Incoming</a>
                <a href="/logbook/approved">Approved</a>
            </div>
            <div class="profile-buttons">
                <a href="/logbook/notifications"><i class="fas fa-bell notification-icon"></i></a>
                <a href="/logbook/profile">Profile</a>
                <% if (currentUser) { %>
                <a href="/logout">Logout</a>
                <% } %>
            </div>
        </div>
        <div class="hamburger-icon">
            <i class="fas fa-bars"></i>
        </div>
    </nav>
</header>
<div class="hamburger-menu">
    <div class="menu-header">
        <div class="menu-icon">
            <i class="fas fa-bars"></i>
        </div>
        <div class="menu-profile">
            <a href="/logbook/notifications"><i class="fas fa-bell notification-icon"></i></a>
            <a href="/logbook/profile">Profile</a>
        </div>
    </div>
    <div class="menu-links">
        <a href="/logbook" class="">Home</a>
        <a href="/logbook/incoming">Incoming</a>
        <a href="/logbook/approved">Approved</a>
        <% if (currentUser) { %>
        <a href="/logout">Logout</a>
        <% } %>
    </div>
</div>

<div class="backdrop"></div>

<div class="logbook-container">

    <div class="table-title title-only">
        <h1 class="office-title">CMBA</h1>
    </div>

    <form action="/logbook/new" method="POST" id="logbookLogForm" class="form">
        <h2>Add a new log</h2>
        <div class="input-group">
            <label for="logRe">Re:</label>
            <!-- <input name="re" type="textarea" id="logRe" placeholder="Re" /> -->
            <textarea name="re" id="logRe" cols="30" rows="10"></textarea>
        </div>
        <div class="input-group">
            <label for="logDocType">Document Type</label>
            <input name="docType" type="text" id="logDocType" placeholder="Document type" />
        </div>
        <div class="input-group">
            <label for="logDueDate">Due date</label>
            <input name="dueDate" type="date" id="logDueDate" placeholder="Due date" />
        </div>
        <div class="input-group">
            <label for="logDestination">Destination</label>
            <select name="destination" id="logDestination">
                <option value="" selected disabled>Department</option>
                <% departments.forEach(department => { %>
                <option value=<%= department.abbreviation %>><%= department.name %> </option>
                <% }) %>
            </select>
        </div>
        <div class="input-group">
            <button>Add</button>
        </div>
    </form>
</div>
<%- include ../partials/footer %>