<%- include partials/header %>
<div class="login-page">
	<div class="login-container">
		<h1>Welcome to Logbook</h1>
		<div class="form-group">
			<div class="login-options">
				<div class="login-options-group option-selected">
					<div class="text">
						<i class="fas fa-user"></i>
						<a>Login</a>
					</div>
				</div>
				<div class="login-options-group">
					<div class="text">
						<i class="fas fa-book-open"></i>
						<a>Signup</a>
					</div>
				</div>
			</div>
			<div class="forms">
				<form action="/login" method="POST" id="loginForm" class="form">
					<h2>Login here!</h2>
					<div class="input-group">
						<label for="loginUsername">Username</label>
						<input name="username" type="text" id="loginUsername" placeholder="Username" />
					</div>
					<div class="input-group">
						<label for="loginPassword">Password</label>
						<input name="password" type="password" id="loginPassword" placeholder="Password" />
					</div>
					<div class="input-group buttons">
						<a>Forgot password?</a>
						<button>Login</button>
					</div>
				</form>
				<form action="/signup" method="POST" id="signupForm" class="form hide">
					<h2>Signup here!</h2>
					<div class="input-group">
						<label for="email">Email</label>
						<input name="email" type="text" id="email" placeholder="Email" required />
					</div>
					<div class="input-group">
						<label for="signupFirstName">First Name</label>
						<input name="firstname" type="text" id="signupFirstName" placeholder="First name" required />
					</div>
					<div class="input-group">
						<label for="signupLastName">Last Name</label>
						<input name="lastname" type="text" id="signupLastName" placeholder="Last name" required />
					</div>
					<div class="input-group">
						<label for="signupUsername">Username</label>
						<input name="username" type="text" id="signupUsername" placeholder="Username" required />
					</div>
					<div class="input-group">
						<label for="signupPassword">Password</label>
						<input name="password" type="password" id="signupPassword" placeholder="Password" required />
					</div>
					<div class="input-group">
						<label for="accType">Account Type</label>
						<select name="accType" id="accType" required>
							<option value="" selected disabled>Account Type (NAS/STAFF/ADMIN)</option>
							<option value="NAS">NAS</option>
							<option value="STAFF">STAFF</option>
							<option value="ADMIN">ADMIN</option>
						</select>
					</div>
					<div class="input-group">
						<label for="department">Department</label>
						<select name="department" id="department" required>
							<option value="" selected disabled>Department</option>
							<% departments.forEach(department => { %>
							<option value=<%= department.abbreviation %>><%= department.name %> </option>
							<% }) %>
						</select>
					</div>
					<div class="input-group">
						<button>Sign Up!</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<%- include partials/footer %>