/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Nunito", sans-serif;
	background-color: var(--color-white);
	overflow-x: hidden;
}

.wrapper {
	overflow-x: hidden;
	position: relative;
	height: auto;
	overflow-y: scroll;
	height: 100vh;
	padding-bottom: 5rem;
}

.wrapper::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: none;
}


/* ::-webkit-scrollbar {
	display: none;
} */

::selection {
	background-color: var(--color-gold);
	color: var(--color-maroon);
}

:disabled {
	opacity: 80%;
	cursor: not-allowed;
}

.hide {
	display: none;
}