.login-page {
	margin: 3rem 0;
}

.login-container {
	width: 70%;
	margin: auto;
}

.login-container h1 {
	text-align: center;
	text-transform: uppercase;
	color: var(--color-maroon);
	font-weight: 800;
	font-size: 3rem;
}

@media (max-width: 824px) {
	.login-container h1 {
		font-size: 2.5rem;
	}
}

@media (max-width: 687px) {
	.login-container h1 {
		font-size: 2rem;
	}
}

@media (max-width: 551px) {
	.login-container h1 {
		font-size: 1.5rem;
	}
}

.form-group {
	display: flex;
	width: 100%;
	justify-content: space-between;
	box-shadow: 0.5rem 0.5rem 0.5rem var(--color-box-shadow);
	border-radius: 1rem;
}

.login-options {
	background-color: var(--color-maroon);
	width: 30%;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 1rem;
	color: var(--color-gold);
}

.login-options-group {
	height: 33%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1rem;
}

.login-options-group .text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	margin: 0 auto;
	cursor: pointer;
}

.login-options-group i {
	font-size: 1.5rem;
}

@media (max-width: 1100px) {
	.login-options-group i {
		font-size: 1rem;
	}
}

.login-options-group a {
	display: inline-block;
	font-size: 1.2rem;
}

.login-options-group.option-selected {
	background-color: var(--color-gold);
	color: var(--color-maroon);
}

.forms {
	background-color: var(--color-gold);
	width: 70%;
	margin: 0 auto;
	padding: 1rem 3rem 2rem;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.form h2 {
	text-transform: uppercase;
	text-align: center;
	color: var(--color-maroon);
}

.input-group {
	display: flex;
	flex-direction: column;
}

.input-group:not(:last-child) {
	margin-bottom: 2rem;
}

.input-group label {
	margin-bottom: 0.7rem;
	color: var(--color-maroon);
	font-weight: 700;
}

.input-group input,
.input-group select {
	padding: 1rem;
	outline: none;
	border: none;
	border-radius: 0.5rem;
	box-shadow: 0.3rem 0.3rem 0.5rem var(--color-box-shadow);
	font-family: inherit;
	font-size: 1rem;
}

.input-group select {
	text-align-last: center;
	cursor: pointer;
}

.input-group button {
	margin-top: 1rem;
	width: 40%;
	border-radius: 2rem;
}

#signupForm button {
	margin-left: auto;
}

.input-group.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.input-group.buttons a {
	color: var(--color-maroon);
	cursor: pointer;
	border-bottom: 1px solid transparent;
}

.input-group.buttons a:hover {
	border-bottom: 1px solid var(--color-maroon);
}

@media (max-width: 950px) {
	.form-group {
		flex-direction: column;
	}

	.login-options {
		width: 100%;
		flex-direction: row;
		border-top-right-radius: 1rem;
		border-bottom-right-radius: 0rem;
		border-bottom-left-radius: 0rem;
	}

	.forms {
		width: 100%;
		border-bottom-left-radius: 1rem;
		border-top-right-radius: 0rem;
		border-top-left-radius: 0rem;
	}

	.login-options-group {
		height: 100%;
		width: 50%;
		padding: 1rem 4rem;
	}
}

@media (max-width: 800px) {
	.login-options-group {
		padding: 1rem 3.5rem;
	}

	.login-options-group i {
		font-size: 0.8rem;
	}
}

@media (max-width: 750px) {
	.login-options-group {
		padding: 1rem 3rem;
	}
}

@media (max-width: 750px) {
	.login-options-group {
		padding: 1rem 2rem;
	}
}

@media (max-width: 700px) {
	.login-container {
		width: 80%;
	}
}

@media (max-width: 600px) {
	.login-container {
		width: 90%;
	}

	.login-options-group {
		padding: 1rem 1rem;
	}

	.input-group button {
		width: 100%;
		margin-bottom: 1rem;
	}

	.input-group.buttons {
		flex-direction: column-reverse;
	}
}

@media (max-width: 550px) {
	.forms {
		padding: 1rem 2rem 2rem;
	}

	.buttons a {
		font-size: 0.8rem;
	}
}

@media (max-width: 475px) {
	.login-options-group {
		padding: 1rem 0rem;
	}
}