.logbook-container {
	width: 80%;
	margin: 0rem auto;
	position: relative;
}

.table-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 95%;
	margin: 0 auto;
	padding: 0 1rem;
}

.office-title {
	font-size: 3rem;
	color: var(--color-maroon);
	width: 75%;
}

@media (max-width: 530px) {
	/* .office-title {
		width: 100%;
		text-align: center;
	} */
}

.table-buttons button {
	border-radius: 0;
}

.table-buttons {
	display: flex;
	justify-content: space-around;
}

.table-buttons a {
	color: var(--color-yellow);
	background-color: var(--color-maroon);
	padding: 0.5rem 1rem;
	border: 3px solid var(--color-gold);
}

@media (max-width: 440px) {
	/* .table-buttons button {
		font-size: 0.8rem;
		padding: 0.5rem 1rem;
	} */
}
