.notifications {
    display: flex;
    flex-direction: column-reverse;
    border: 3px solid var(--color-maroon);
}

.notification {
    padding: 1rem;
}

.notification:not(:first-child) {
    border-bottom: 3px solid var(--color-maroon);
}

.notification.unread {
    background-color: var(--color-yellow);
}