.profile-header {
    font-size: 4rem;
    font-weight: 800;
    color: var(--color-maroon);
    text-align: center;
    margin-bottom: 2rem;
}

.profile-container {
    width: 80%;
    margin: auto;
}

.profile-card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    align-items: stretch;
}

.info {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: var(--color-maroon);
    color: var(--color-yellow);
    padding: 2rem 1rem 0;
}

.info .image {
    text-align: center;
    margin: 0 auto;
}

.info .image img {
    width: 4rem;
    border-radius: 50%;
}

/* .info .desc p {
    display: flex;
    justify-content: space-between;
    width: 100%;
} */

.logs {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: var(--color-yellow);
    color: var(--color-maroon);
    padding: 2rem;
}

.log-header {
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-maroon);
    text-align: center;
}

.log {
    display: flex;
    flex-direction: column-reverse;
}

.log li {
    padding: .5rem 0;
    width: 90%;
    margin: 0 auto;
    display: none;
}

.user-profile-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.user-profile-buttons button a {
    color: var(--color-yellow);
}

.see-more {
    cursor: pointer;
    align-self: center;
    border-bottom: 1px solid transparent;
}

.see-more:hover {
    border-bottom: 1px solid var(--color-maroon);
}

@media (hover: none) {
    .see-more {
        border-bottom: 1px solid var(--color-maroon);
    }
}

@media (max-width: 911px) {

    .profile-container {
        width: 90%;
    }

    .info {
        text-align: center;
    }

    .info,
    .logs {
        width: 100%;
    }
}