/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.table-container {
	width: 100%;
	overflow-x: scroll;
}

.table {
	border: 3px solid var(--color-maroon);
	width: 950px;
	margin: 0 auto;
}

.table-rows {
	display: flex;
	flex-direction: column-reverse;
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.table-rows .row {
	border-bottom: 3px solid var(--color-maroon);
}

.table-rows .row:nth-child(even) {
	background-color: var(--color-yellow);
}

.table-header {
	color: var(--color-gold);
	background-color: var(--color-maroon);
	text-align: center;
	font-weight: 700;
}

.table-header .column {}

.title-table {
	text-align: center;
	color: var(--color-maroon);
	font-weight: 800;
	font-size: 1.5rem;
	margin: 0;
}

.column {
	width: 250px;
	padding: 1rem;
}

.column.destination,
.column.status {
	padding: 0 1rem;
}

.column:not(:last-child) {
	border-right: 3px solid var(--color-maroon);
}

.column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.destinations,
.statuses {
	text-align: center;
}

.actions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: distribute;
	justify-content: center;
	height: 100%;
}

.actions button {
	border-radius: 0;
}

.actions button:not(:last-of-type) {
	margin-bottom: 1rem;
}

.actions .received-message {
	text-align: center;
}

.table-div {
	overflow-x: scroll;
	width: 1000px;
}

table {
	width: 100%;
	/* border: 3px solid var(--color-maroon); */
	border-collapse: collapse;
	overflow-x: scroll;
}

thead {
	color: var(--color-gold);
	text-align: center;
	font-weight: 700;
}

table,
th,
td {
	border: 3px solid var(--color-maroon);
}

tr {
	width: 50%;
}

/* td:not(:last-child) {
	border-right: 3px solid var(--color-maroon);
}

tr:not(:last-child),
thead {
	border-top: 3px solid var(--color-maroon);
	border-bottom: 3px solid var(--color-maroon);
}

tbody {
	border-bottom: 3px solid var(--color-maroon);
} */