/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.table-container {
	width: 100%;
	overflow-x: scroll;
}

.table-container::-webkit-scrollbar {
	display: block;
}

.table {
	border: 3px solid var(--color-maroon);
	width: 1000px;
	margin: 0 auto;
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.row:not(:last-child) {
	border-bottom: 3px solid var(--color-maroon);
}

.table-header {
	color: var(--color-gold);
	text-align: center;
	font-weight: 700;
}

.column {
	width: 250px;
	padding: 1rem;
}

.column:not(:last-child) {
	border-right: 3px solid var(--color-maroon);
}

.column.doc-id,
.column.doc-type,
.column.due-date,
.column.destination,
.column.status,
.column.action {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.destinations,
.statuses {
	text-align: center;
}

.actions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	height: 100%;
}

.actions button {
	border-radius: 0;
}

.table-div {
	overflow-x: scroll;
	width: 1000px;
}

table {
	width: 100%;
	/* border: 3px solid var(--color-maroon); */
	border-collapse: collapse;
	overflow-x: scroll;
}

thead {
	color: var(--color-gold);
	text-align: center;
	font-weight: 700;
}

table,
th,
td {
	border: 3px solid var(--color-maroon);
}

tr {
	width: 50%;
}

/* td:not(:last-child) {
	border-right: 3px solid var(--color-maroon);
}

tr:not(:last-child),
thead {
	border-top: 3px solid var(--color-maroon);
	border-bottom: 3px solid var(--color-maroon);
}

tbody {
	border-bottom: 3px solid var(--color-maroon);
} */
